<?xml version="1.0" encoding="UTF-8"?>
<!-- classpath:mybatis/sql/memberMapper.xml -->
<!-- 
	Mapper : 
	SQL문을 정의하고 그결과를 정의해놓은 모델에 매핑시키는 방식에서 사용하는 것
	SQL문(xml)을 method(or java 객체)로 매핑 시켜주는 것을 의미
 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="memberMapper">
	<!-- select insert update delete -->
	<insert id="insertMember" 
	 		statementType="PREPARED"
			parameterType="com.bitc.orm.vo.MemberVO">
		INSERT INTO tbl_member 
		VALUES(null, #{userid}, #{userpw} , #{username}, now(), now())	
	</insert>
	<!-- parameterType="java.lang.String" -->
	<!-- 
		java.lang.String => String or string
		java.lang.Integer => int, integer 
		java.util.Map => map
		java.util.HashMap => hashmap
	 -->
	<select id="readMember" 
	        parameterType="string" 
	        resultType="com.bitc.orm.vo.MemberVO">
		SELECT * FROM tbl_member WHERE userid = #{userid}
	</select>
	
	
	<select id="memberList" resultType="com.bitc.orm.vo.MemberVO">
		SELECT * FROM tbl_member ORDER BY regdate DESC
	</select>
	
</mapper>
















